# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML models
backend/app/ml_models/*.pkl
backend/app/ml_models/*.npy
